<div
    appDragNDropContainer
    [coveragePercentage]="50"
    [coverageTime]="1000"
    class="container"
>
    <div
        appDragNDropItem
        class="dnd-item i1"
    ></div>
    <div
        appDragNDropItem
        class="dnd-item i2"
    ></div>
    <div
        appDragNDropItem
        class="dnd-item i3"
    ></div>
    <div
        appDragNDropItem
        class="dnd-item i4"
    ></div>
    <div
        appDragNDropItem
        class="dnd-item i5"
    ></div>
    <div
        appDragNDropItem
        class="dnd-item i6"
    ></div>
</div>
