:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    // padding: 50px; // почему-то с паддингами все ломается, идет лесенкой, как-то надо это учесть в директиве
}

.dnd-item {
    margin: 20px;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
}
